<a href="https://colab.research.google.com/github/IBeliveInMagic/Ciencia_de_Dados/blob/main/Perceptron_Pr%C3%A1tica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import numpy as np
import pandas as pd

#**Parte1**

In [58]:
Data = {
    
    'Nomes' : ['Kepler','Einstein','Bach','Beethoven'],
    'N1' : [1,1,0,0],
    'N2' : [1,0,0,1],
    'Saída' : [1,1,0,0]
}

In [59]:
df = pd.DataFrame(Data)

In [60]:
df

       Nomes  N1  N2  Saída
0     Kepler   1   1      1
1   Einstein   1   0      1
2       Bach   0   0      0
3  Beethoven   0   1      0

In [61]:
bias = 1

In [62]:
W = [0,0,0]
Wnovo = [0,0,0]
cont = 0

In [63]:
def Sgn(X):
  if X < 0:
    Y = 0
  else:
    Y = 1
  return Y

In [64]:
Continue = True
while Continue:
  Continue = False
  for i in range(len(df)):
      sum = Sgn(bias*W[0] + df.loc[i, "N1"]*W[1] + df.loc[i, "N2"]*W[2])

      cont = cont + 1

      if sum != df.loc[i, "Saída"]:
        Erro = df.loc[i, "Saída"] - sum
        Wnovo[0] = W[0] + (Erro*1*bias)
        Wnovo[1] = W[1] + (Erro*1*df.loc[i, "N1"])
        Wnovo[2] = W[2] + (Erro*1*df.loc[i, "N2"])

        W = Wnovo
        Continue = True

In [65]:
print("Contador:", cont)
print("\n")
print(df['Nomes'])
print("\n")
print(W)

Contador: 16


0       Kepler
1     Einstein
2         Bach
3    Beethoven
Name: Nomes, dtype: object


[-2, 2, 0]

In [66]:
for i in range(len(df)):
    sum = Sgn(bias*W[0] + df.loc[i, "N1"]*W[1] + df.loc[i, "N2"]*W[2])

    print("Valor obtido:",sum,"| Valor esperado:",df.loc[i, "Saída"])

Valor obtido: 1 | Valor esperado: 1
Valor obtido: 1 | Valor esperado: 1
Valor obtido: 0 | Valor esperado: 0
Valor obtido: 0 | Valor esperado: 0

#**Parte2**

In [67]:
Data = {
    
    'Nomes' : ['Beethoven','Einstein','Kepler','Bach'],
    'N1' : [0,1,1,0],
    'N2' : [1,0,1,0],
    'Saída' : [0,1,1,0]
}

In [68]:
df = pd.DataFrame(Data)

In [69]:
df

       Nomes  N1  N2  Saída
0  Beethoven   0   1      0
1   Einstein   1   0      1
2     Kepler   1   1      1
3       Bach   0   0      0

In [70]:
bias = 1

In [71]:
W = [0,0,0]
Wnovo = [0,0,0]
cont = 0

In [72]:
def Sgn(X):
  if X < 0:
    Y = 0
  else:
    Y = 1
  return Y

In [73]:
Continue = True
while Continue:
  Continue = False
  for i in range(len(df)):
      sum = Sgn(bias*W[0] + df.loc[i, "N1"]*W[1] + df.loc[i, "N2"]*W[2])

      cont = cont + 1

      if sum != df.loc[i, "Saída"]:
        Erro = df.loc[i, "Saída"] - sum
        Wnovo[0] = W[0] + (Erro*1*bias)
        Wnovo[1] = W[1] + (Erro*1*df.loc[i, "N1"])
        Wnovo[2] = W[2] + (Erro*1*df.loc[i, "N2"])

        W = Wnovo
        Continue = True

In [74]:
print("Contador:", cont)
print("\n")
print(df['Nomes'])
print("\n")
print(W)

Contador: 12


0    Beethoven
1     Einstein
2       Kepler
3         Bach
Name: Nomes, dtype: object


[-1, 2, 0]

In [75]:
for i in range(len(df)):
    sum = Sgn(bias*W[0] + df.loc[i, "N1"]*W[1] + df.loc[i, "N2"]*W[2])

    print("Valor obtido:",sum,"| Valor esperado:",df.loc[i, "Saída"])

Valor obtido: 0 | Valor esperado: 0
Valor obtido: 1 | Valor esperado: 1
Valor obtido: 1 | Valor esperado: 1
Valor obtido: 0 | Valor esperado: 0