<a href="https://colab.research.google.com/github/IBeliveInMagic/Ciencia_de_Dados/blob/main/Perceptron_Pr%C3%A1tica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importar bibliotecas**

In [538]:
import numpy as np
import pandas as pd
import random

#**Treinamento 1**

In [539]:
#Dataframe com os Nomes , Variáveis e Saídas para diferenciarmos Compositor de Cientista
# Compositor = 0 ; Cientista  1 
Data = {
    
    'Nomes' : ['Kepler','Einstein','Bach','Beethoven'],
    'N1' : [1,1,0,0],
    'N2' : [1,0,0,1],
    'Saída' : [1,1,0,0]
}

In [540]:
df = pd.DataFrame(Data)

In [541]:
df

       Nomes  N1  N2  Saída
0     Kepler   1   1      1
1   Einstein   1   0      1
2       Bach   0   0      0
3  Beethoven   0   1      0

In [542]:
bias = 1

In [543]:
# W e Wnovo armazenam os pesos
W = [0,0,0]
Wnovo = [0,0,0]

In [544]:
# Contador que mostrará quantas vezes foram necessárias para o algoritmo acertar os pesos
cont = 0

In [545]:
# Lista criada para alterar a sequência das linhas do dataFrame 
list = [0,1,2,3]
random.shuffle(list)
print(list)

[1, 3, 0, 2]

In [546]:
# Função escada 
def Sgn(X):
  if X < 0:
    Y = 0
  else:
    Y = 1
  return Y

In [547]:
# Algoritmo de treinamento 
Continue = True
while Continue:
  Continue = False

  for i in list:
      sum = Sgn(bias*W[0] + df.loc[i, "N1"]*W[1] + df.loc[i, "N2"]*W[2])

      cont = cont + 1
      print("Valor obtido:",sum,"| Valor esperado:",df.loc[i, "Saída"], "| Nome:", df.loc[i,"Nomes"])

      if sum != df.loc[i, "Saída"]:
        Erro = df.loc[i, "Saída"] - sum
        Wnovo[0] = W[0] + (Erro*1*bias)
        Wnovo[1] = W[1] + (Erro*1*df.loc[i, "N1"])
        Wnovo[2] = W[2] + (Erro*1*df.loc[i, "N2"])

        W = Wnovo
        Continue = True

Valor obtido: 1 | Valor esperado: 1 | Nome: Einstein
Valor obtido: 1 | Valor esperado: 0 | Nome: Beethoven
Valor obtido: 0 | Valor esperado: 1 | Nome: Kepler
Valor obtido: 1 | Valor esperado: 0 | Nome: Bach
Valor obtido: 1 | Valor esperado: 1 | Nome: Einstein
Valor obtido: 0 | Valor esperado: 0 | Nome: Beethoven
Valor obtido: 1 | Valor esperado: 1 | Nome: Kepler
Valor obtido: 0 | Valor esperado: 0 | Nome: Bach

In [548]:
# Imprimindo as variáveis obtidas no treinamento
print("Contador:", cont)
print("\n")
print("Pesos:", W)

Contador: 8


Pesos: [-1, 1, 0]

In [549]:
# Checar se os valores obtidos e esperados estão dando igual
for i in range(len(df)):
    sum = Sgn(bias*W[0] + df.loc[i, "N1"]*W[1] + df.loc[i, "N2"]*W[2])

    print("Valor obtido:",sum,"| Valor esperado:",df.loc[i, "Saída"])

Valor obtido: 1 | Valor esperado: 1
Valor obtido: 1 | Valor esperado: 1
Valor obtido: 0 | Valor esperado: 0
Valor obtido: 0 | Valor esperado: 0

#**Perguntas**

Questão 1: O programa de treinamento funciona sempre ou depende da seqüência de valores informados durante o treinamento? \\
Resposta : Depende da sequência de valores informados. A cada sequência obtemos um valor diferente tanto da quantidade necessária para corrigir os pesos quanto dos valores dos pesos

Questão 2: Qual o número máximo de interações para corrigir os pesos? \\
Resposta : Após rodar algumas vezes o código, o maior valor obtido no contador foi 16 \\
Sequência : Beethoven, Bach, Kepler, Einstein \\
Pesos : Wb = -1 , W1 = 2, W2 = -1